<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=2.0" />
		<title>ready writers conner</title>
		<link rel="stylesheet"type="text/css" href="/css/styles.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
		<script src="https://cdn.ckeditor.com/ckeditor5/39.0.2/classic/ckeditor.js"></script>
		<!--<script src="https://cdn.ckeditor.com/4.23.0-lts/standard/ckeditor.js"></script>-->
		<!--<script src="/js/script.js"></script>-->
	</head>
	<body>
		<div class = "top_div">
			<div class ="container-fluid" id="top_div1">
				<div class="top_div_row row">
					<div class="col-sm-3" id ="logo_div"> <span>WritersConner</span></div>
					<ul class="col-sm-9"><li><a href="/">Home</a></li><li><a href="/lifestyle">Lifestyle</a></li><li><a href="/tech">Tech</a></li><li><a href="/relationship">Relationship</a></li><li><a href="/business">Business</a></li></ul>
				</div>
			</div>
			<div id="top_div2">
				<p>facebook</p>
			</div>
		</div>
