<div class="search_box">
	<form>
		<input type="text" placeholder="Search..."></input>
		<button type="submit">Search</button>
	</form>
</div><br><br>
<div class ="quotes_div">
	<h3>Quotes of the Day!</h3>
	<div id="inner_quote">
		<p>The best way to become a writer is to first become a reader</p>
	</div>
</div>
