<%- include('includes/header.ejs'); %>
		<div class="main_div">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-8 posts_div">
						<h1>Post of the day</h1>
						<div class="post_box"> 
							<div class="post_image">
								<img src="#">
							</div>
							<div class="post_text">
								<h3>What happens when You type google.com and press enter</h3>
								<p>This is what happens...</p>
							</div>
						</div>
					</div>
					<div class="col-sm-4 quotes_div"> <h1>Quotes of the Day!</h1><p>The best way to become a writer is to first become a reader</p></div>

				</div>
			</div>
			<div class ="main_2">
				<div class="same_author_posts">
					<h2> Post by the same Author</h2>
				</div>
				<div class="recent_posts">
					<h2>Recent Posts</h2>
				</div>
			</div>
		</div>
		<footer>
			<%- include('includes/footer.ejs'); %>
		</footer>
	</body>
</html>
