* {
	box-sizing:border-box
}
.top_div {
	border:2px solid none;
	height:auto;
}
#top_div1 {
	border:2px solid none;
	background-color:black;
	color:white;
	padding:10px;
}
.main_div {
	border:2px solid none;
}
.quotes_div {
	border:1px solid none;
	height:auto;
	background:navy;
	color:white;
	padding:5%;
	margin-left:2%;
}
#inner_quote {
	background:navy;
	padding:3%;
	border:3px solid white;
}
.posts_div {
	border-right:1px solid lightgrey;
	height:auto;
}
.post_box {
	border:3px solid none;
}
.post_div_content {
	float:left;
}
.post_image {
	width: 40%;
	margin-right:3%;
	margin-top:3%;
}
.post_text {
	width: 55%;
}
.img_post {
	width:100%;
}
.post_details {
	border-right:2px solid lightgrey;
}
.post_details_box {
	border:2px solid none;
}
.post_details_image {
	border:2px solid none;
}
.image_post_details {
	width:100%;
}
.search_box {
	border:2px solid grey;
	padding: 2%;
}
.search_box button {
	background:navy;
	color:white;
	padding:3%;
	border:none;
}
.author_image {
	border:1px solid none;
	height:40px;
	width:40px;

	margin-right:1%;
}
.last_update {
	margin-left:3%;
}
.comment_div {
	border: 1px solid lightgrey;
	padding:2% 5%;
}
.comment_div input {
	width:80%;
	height:30px;
	border:1px solid lightgrey;
	margin:auto;
}
.same_author_posts {
	height:auto;
	border:1px solid lightgrey;
}
.same_author_box {
	height: auto;
	border:1px solid none;
}
.same_author_bo {
	height:auto;
	/*width:200px;*/
	border:2px solid none;
}
.other_post_images {
	width:100%;
	height:50%;
}
#about_author {
	border:1px solid lightgrey;
	height200px;
	width:55%;
	margin:auto;
	padding:0% 5%;
	text-align:center;
}
#about_author_image {
	margin:auto;
	width:100px;
	height:100px;
	border:1px solid none;
	
}
.author_thumbnail {
	width: 100%;
	height:100%;
	object-fit:cover;
	border-radius:50%;
}
.comments {
	border:1px solid lightgrey;
	height:auto;
}
.comment_avatar {
	width:30px;
	height:30px;
	border:3px solid none;
}
.comment_details {
	border:1px solid none;
}
._comment {
	border:2px solid none;
	float:left;
}
.comment_spans {
	width:auto;
	margin-left:3%;
}
._name {
	margin-right:3%;
}
#feedback {
	color: teal;
}
.comments_number {
	margin-right:3px;
}
#user_form, #user_login_form{
	width:80%;
	padding:3%;
	margin:auto;
	border:1px solid lightgrey;
}
#user_form input, #user_login_form input {
	width:100%;
	height:50px;
	border:1px solid lightgrey;
}
#user_form textarea {
	width:100%;
	border:1px solid lightgrey;
}
textarea {
	width:80%;
}
.top_div_row ul {
	list-style-type: none;
}
.top_div_row li {
	display:inline-block;
	padding:0px 15px;
}
.dash_board {
	display: inline-block;
}
.dashboard_logout {
	text-align:right;
	
}
.main_div {
	padding:1% 3%;
}
footer li {
	display:block;
	padding:5px 0px;
}
.footer_cols {
	text-align:center;
}
footer {
	background:black;
	color:white;
	padding:3%;
	text-align:center;
}
#footer_text {
	text-align:center
}
